body{
    background-image: url("../images/Wallpaper.jpg");
    background-attachment: fixed;
    border-radius: 25px;
    font-weight: 200;
    
}
.spacer10 { 
    height: 10px;
     width: 100%;
     font-size: 0;
     margin: 0px;;
     padding: 0;
     border: 0;
     display: block;
     }
     #dbase {
        width:100px;
        margin-left:auto;
        margin-right:auto;
    }

nav {
        background-color:  #f7edca!important;
        height: 109px;
        border-radius: 25px;

    
}

.bg-light {
    background-color:  #f7edca!important;
}

.row {
    margin: 20px;
}

.btn {
    margin: 10px;
}

#navbarText {
    margin-left: 200px;
}