body{
    background-image: url(../images/imagehomes/bround.jpg);
    background-size: auto
    
}
.spacer10 { 
    height: 10px;
     width: 100%;
    font-size: 0;
     margin: 0;
     padding: 0;
     border: 0;
     display: block;
     }
     #dbase {
        width:100px;
        margin-left:auto;
        margin-right:auto;
    }